.pawn {
    border-bottom: 30px solid black;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
    width: 20px;
    position: relative;
    top: 63px;
    left: 10px;
}
.infa {
    height: 3px;
    width: 20px;
    background-color: brown;
    position: absolute;
    top: 166px;
    left: 310px;
    transition: width 2s, height 2s, transform 1s;
}
.infa:hover {
    width: 100px;
    height: 100px;
    transform: rotate(360deg);   
    font-size: 10px;
}
.pawn.white {
    border-bottom-color: goldenrod;
}
.pawn::before {
    content: "";
    display: block;
    height: 30px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    top: -15px;
    left: -20px;
    background-color: black;
}
.white.pawn::before {
    background-color: goldenrod;
}
.pawn::after {
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    top: -60px;
    left: 0px;
    background-color: black;
}
.white.pawn::after {
    background-color: goldenrod;
}
