body {
    display: grid;
    grid-template:  25% 75% / 30% 50% 20%;
    max-width: 100vw;
    max-height: 100vh;
    background-color: aquamarine;
    overflow: hidden;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(photo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 140%;
}
header {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    font-size: 5.5em;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    white-space: pre;
    background: linear-gradient(170deg,#3f2201 10%, #5a3101 20%, #3a1d01f8 20%, #d8802ff8 40%, #af6621f8 60%, #c05f04f8 70%,
    #613f01 80%, #3f2201 100%, #291702 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.main {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template:  10% 11% 15% 10% 5% 10% 5% 10% 16% 8% / 23% 18.5% 18.5% 18% 22%;
}
.contacts {
    grid-area: 10 / 2 / 10 / 5;
    font-size: 1em;
    font-style: italic;
    line-height: 1.5em;
    color: #3d2101;
}
.button {
    background: linear-gradient(160deg,#3f2201 25%, #5a3101 25%, #d89251f8 30%, #dd8c41f8 60%,
    #3d2304 100%);
    box-shadow: 
    3px -3px 3px 1px rgb(99, 72, 13),
    inset 7px 15px 20px 3px #854803;
    border: 1px solid   rgb(123, 209, 205);
    border-radius: 5% 5%;
    width: 6.5vw;
    height: 4vh;
    color: #291601;
    padding-bottom: 5px;
    padding-top: 13px;
    padding-right: 13px;
    padding-left: 13px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.button:hover {
    background:  rgb(123, 209, 205);
    box-shadow: 
    5px -5px 6px 1px rgb(99, 72, 13),
    inset 7px 15px 20px 3px rgb(123, 209, 205);
    text-transform: uppercase;
}
.course {
    grid-area: 2 / 2 / 2 / 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    white-space: pre;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #3d2101;
}
.a {
    grid-area: 4 / 2 ;
}
.b {
    grid-area: 6 / 2 ;
}
.c {
    grid-area: 8 / 2 ;
}
.d {
    grid-area: 4 / 3 ;
}
.e {
    grid-area: 6 / 3 ;
}
.f {
    grid-area: 8 / 3 ;
}
.k {
    grid-area: 4 / 4 ;
}
.l {
    grid-area: 6 / 4 ;
}
.m {
    grid-area: 8 / 4 ;
}